* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;};

#header {display: flex;
      background-color: cornflowerblue;
      justify-content: center;
      text-align: center;};

#locationBox {display: flex;
            justify-items:  center;
            text-align: center;}

#location {display: flex;
           flex-direction: column;}

   